[submodule "Touch-N-Stars"]
	path = Touch-N-Stars
	url = https://github.com/Touch-N-Stars/Touch-N-Stars.git
	branch = pins
[submodule "NINA.Plugins/ninaAPI"]
	path = NINA.Plugins/ninaAPI
	url = https://github.com/nitr57/ninaAPI.git
	branch = dev
[submodule "NINA.Plugins/Touch-N-Stars"]
	path = NINA.Plugins/Touch-N-Stars
	url = https://github.com/nitr57/N.I.N.A-Plugin-for-Touch-N-Stars.git
	branch = main
[submodule "NINA.Plugins/LiveStack"]
	path = NINA.Plugins/LiveStack
	url = https://github.com/nitr57/nina.plugin.livestack
	branch = main
[submodule "NINA.Plugins/PolarAlignment"]
	path = NINA.Plugins/PolarAlignment
	url = https://github.com/nitr57/nina.plugin.polaralignment.git
	branch = master
[submodule "NINA.Plugins/joko.nina.plugins"]
	path = NINA.Plugins/joko.nina.plugins
	url = https://github.com/nitr57/joko.nina.plugins.git
	branch = develop
[submodule "NINA.Plugins/NINA.Joko.Plugin.TenMicron"]
	path = NINA.Plugins/NINA.Joko.Plugin.TenMicron
	url = https://github.com/nitr57/NINA.Joko.Plugin.TenMicron.git
	branch = develop
[submodule "NINA.Plugins/nina.plugin.orbuculum"]
	path = NINA.Plugins/nina.plugin.orbuculum
	url = https://github.com/nitr57/nina.plugin.orbuculum.git
	branch = master
[submodule "NINA.Plugins/nina.plugin.phd2tools"]
	path = NINA.Plugins/nina.plugin.phd2tools
	url = https://github.com/nitr57/nina.plugin.phd2tools.git
[submodule "NINA.Plugins/pins-guider"]
	path = NINA.Plugins/pins-guider
	url = git@github.com:aduffeck/pins-guider.git
	branch = m1/guider
